.container {
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  background: #222222; }

body {
  background: black; }

a {
  color: #00ccff; }
  a:vistited {
    color: #00cc00; }

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap; }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 0.2em 0; }
      nav ul li a {
        padding: 0 5px;
        font-weight: bold; }
        nav ul li a:visited {
          color: #00cc00; }
        nav ul li a:hover {
          text-decoration: underline; }

footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto; }
  footer nav {
    float: none; }

#biglogo {
  width: 630px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#small_logo {
  height: 18px; }
