:markdown
  Application made with [Ruby on Rails](http://rubyonrails.org/), templates in [Haml](http://haml-lang.com/), styled with [Sass](http://sass-lang.com/) and written in [Markdown](http://daringfireball.net/projects/markdown/). Hosted by [Heroku](http://heroku.com/). 
  Grab the source from [Github](https://github.com/lijf/radicase) it is available under the MIT license and the Beerware License.
