%nav.round
  %ul
    %li= image_tag("small_logo.png", :id => "small_logo", :alt => "RaDiCase", :class => "round")
    %li= link_to 'Readme', readme_path
    %li= link_to 'About', about_path
    %li= link_to 'Contact', contact_path

