%nav.round
  %ul
    %li= image_tag("small_logo.png", :id => "small_logo", :alt => "RaDiCase", :class => "round")
    %li= link_to 'Readme', '#'
    %li= link_to 'License', '#'
    %li= link_to 'Contact', '#'

